<div class='exchange_box col-sm-12'>
  <div class='card'>
    <div class='card-header text-center'>
      <%= t('exchange.index.exchange_box.header') %>
    </div>
    <div class='card-block'>
        <div class='local_currency'>
          <div class='form-group'>
            <p class='title'><%= t('exchange.index.exchange_box.main_card.local_currency') %></p>
            <%= select_tag 'source_currency', options_for_select(currency_list, 'BRL'), class: 'form-control', id: 'source_currency' %>
          </div>
          <div class='form-group'>
            <input type='number' name='amount' id='amount' min="0" class='form-control' placeholder='<%= t('exchange.index.exchange_box.main_card.amount') %>' step='any' required>
          </div>
        </div>
        <div class='destination_currency'>
          <div class='form-group'>
            <p class='title'><%= t('exchange.index.exchange_box.main_card.destination_currency') %></p>
            <%= select_tag 'target_currency', options_for_select(currency_list, 'EUR'), class: 'form-control', id: 'target_currency'%>
          </div>
          <div class='form-group'>
            <input type='text' id='result' name='result' class='form-control' placeholder='<%= t('exchange.index.exchange_box.main_card.result') %>' readonly>
          </div>
        </div>
    </div>
    <div class="card-footer">
    <label><%= t('exchange.index.exchange_box.main_card.translate') %></label>
      <a href="/?locale=ptbr">
        <img alt="brazil" src="https://img.icons8.com/color/32/000000/brazil.png">
      </a>
      <a href="/?locale=en">
        <img src="https://img.icons8.com/color/32/000000/usa.png">
      </a>
    </div>
  </div>
</div>